body,
html {
 
       background: url(header.jpg) no-repeat center center fixed; 
        background-size: cover;
        height:  100%;
        width: 100%;
      }

h1{

    font-size: 3rem;
    color: #e2dbdb
  }
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

  .buffer{
          height: 10rem;
          }
.btn{
      font-weight: 700;
      border-radius: 300px;
      text-transform: uppercase;
    }
.btn-xl 
        {
          padding: 1rem 2rem;
        }
.btn-primary 
        {
          background-color: #F05F44;
          border-color: #F05F44;
        } 
.btn-primary:hover {
                       background-color: #ee4b08;
                        border-color: #ee4b08;
                        border-width: 7px;
                        cursor: pointer;
                    } 
